body{
    background-color:blanchedalmond;
}

/* comment */
.ul-style{
    color: blue;
}

#button1{
    margin: 50px;
}

.lists{
    padding-left: 5cm;

}

.link{
    margin-left: 250px;
    font-size: medium;
    color: red;
}

h3{
    font-weight: 600;
    background-color: rgb(111, 129, 137);
    width:fit-content;
}