<div *ngFor = "let product of products" class = "main-product">
    <div class="crop">
        <img src = {{product.img}} alt = "photo"  class = "img-crop" >  
    </div>
    <div class = "text-content">
        <h3>
            <a [title] = "product.name + ' details'">
                {{product.name}}
            </a>
        </h3>

        <p *ngIf = "product.description">
            {{product.description}}
        </p>

        <p *ngIf = "product.rating">
            <strong>Rating:</strong> {{product.rating}}
        </p>

        <button type="button" (click) = "share()" class = "share-button">
            Share >
        </button>
    </div>
</div>
