<h2>Kaspi Products</h2>

<div *ngFor = "let product of main_products" class = "main-product">
    <img src = {{product.img}} alt = "photo" width="250px"  height="300px" style="margin: 8px;">
    
    <div class = "text-content">
        <h3>
            <a [title] = "product.name + ' details'">
                {{product.name}}
            </a>
        </h3>

        <p *ngIf = "product.description">
            {{product.description}}
        </p>

        <p *ngIf = "product.rating">
            <strong>Rating:</strong> {{product.rating}}
        </p>

        <button type="button" (click) = "share()" class = "share-button">
            Share >
        </button>
    </div>
</div>
